<div class="header">
  <h1 class="text-primary">App Dados</h1>
</div>
<div class="container">
  <button (click)="play()" type="button" class="btn btn-primary" >Tirar dados</button>
  <div class="container-md bg-secondary bg-gradient">
    <img class="bg-dark bg-gradient" [src]="dadoLefth" alt="">
    <img class="bg-dark bg-gradient" [src]="dadoRigth" alt="">
  </div>
  <div *ngIf="sameFaces; else success" class="alert alert-primary mt-3" role="alert">
    Lo has hecho genial !!!!!
  </div>
  <ng-template #success >
    <div class="alert alert-danger mt-3" role="alert">
      Sigue intentando!!!!
    </div>
  </ng-template>
</div>
